/bin
/build
/make/zhCN
/make/enUS
/make/ci
/make/luamake/*.dll
/log
/script/share/gitlog.lua
/*.w3x
*.exe
/script/%SystemDrive%
/.vscode/ipch/573bb92b4e7ecb9d/COMMON.ipch
/.vscode/ipch/573bb92b4e7ecb9d/mmap_address.bin
/.vscode/ipch/90540cfe30ba69db/MAIN.ipch
/.vscode/ipch/90540cfe30ba69db/mmap_address.bin
/.vscode/ipch/b1b56be2c7e1b634/MAIN_CLI.ipch
/.vscode/ipch/b1b56be2c7e1b634/mmap_address.bin
/LogMpq_1.27.txt
/LogMpq_1.31.txt
